html{
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	margin-left:  auto;
	margin-right: auto;
}

header nav, body{
	padding-right: 15px;
	padding-left: 15px;  	
}
.user_info, .user_info a{
	display: inline-block;
}
.user_info a{
	margin-top: 5px;
}
.user_info span{
	font-size: 24px;
	color: #fafafa;
	margin-left: 20px;

}
.user_info .avatar{
	max-width: 64px;
	max-height: 80px;
}

.log_btn{
	display: block;
	float: right;
	margin-right: 10px;
	margin-top: 20px;
}
.begin_work, .raports_field{
	padding-right: 50px;
}
.menu_act span{
	cursor: pointer;
}
#menu_list1{
	display: none;
}
#menu_list1 li{
	list-style-type: none;
}
#menu_list1 li a{
	color: #fff;
	text-decoration: none;
}



/* ====================   raport.html ===================   */
.raports_field section h2, .raports .panel-heading h1{
	text-align: center;
}
.raports .panel-heading h1{
	color: green;
}

.filters{
	display: block;
}
.filters .filter_project, .filters .filter_input{
	display: inline-block;
}
.filters button.navbar-right{
	margin-right: 5px;
}


/* ================ dialog window ======================
.modal-dialog{
	width: 1224px;
}   */
.date_text{
	display: block;
}
.form-horizontal .date_text label{
	text-align: left;
}
.edit_btn{
	float: right;
	margin-right: 15px;
}

.form-group .filter_project{
	margin-left: 15px;
}
/*
.show_form{
	display: none;
}  */ 