<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <title>Welcome to Domingo!</title>

        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'main/bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap-datetimepicker.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/select2.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'main/js/slider/css/classic-min.css' %}" />

        <script src="{% static "main/js/jQuery.js" %}"></script>
        <script src="{% static "main/js/moment.js" %}"></script>
        <script src="{% static "main/js/select2.min.js" %}"></script>
        <script src="{% static "main/js/script.js" %}"></script>
        <script src="{% static "main/js/bootstrap-datetimepicker.min.js" %}"></script>
        <script src="{% static "main/bootstrap/js/bootstrap.min.js" %}"></script>
        <script src="{% static "main/js/fullcalendar.min.js" %}"></script>
        <script src="{% static "main/js/bootstrap-select.js" %}"></script>
        <script src="{% static "main/js/bootbox.min.js" %}"></script>
        <script src="{% static "main/js/main.js" %}"></script>
        <script src="{% static "main/js/ui/jquery-ui.min.js" %}"></script>
        <script src="{% static "main/js/slider/jQAllRangeSliders-min.js" %}"></script>
    </head>

    <body>
            {% include "main/_layout/menu.html" %}

            {% block breadcrumbs %}
                {% include "main/_layout/breadcrumbs.html" %}
            {% endblock %}

            {% block sidemenu %} {% endblock %}

            {% block content %} {% endblock %}
        </div>
    </body>
</html>