{% load staticfiles %}
<div class='log_content row'>
	<div class='content_info col-md-offset-2 col-md-4'>
		<article>
			<h2>Welcome to Domingo - Service Desk Helper</h2>
			<p>Domingo is a project created by Service Desk for Service Desk. Currently our job, especially monitoring, needs a lot of additional work in external applications. This project will make Service Desk work easier because only Domingo, Jira and E-mails will be necessary. </p>
            <p>The project is built from some smaller modules where each can be developed separately. Here's a short list of modules which are, or will be created: </p>



            <div class="dropdown">
                <span style="color: gold" class="glyphicon glyphicon-minus-sign"> </span> <a href="#" id="reports" data-toggle="dropdown" aria-expanded="true">Reports</a>
                <ul style="padding: 10px;" class="dropdown-menu" aria-labelledby="reports">
                    <li>
                    <span style="color: yellowgreen" class="glyphicon glyphicon-ok-sign"></span> Report creation<br/>
                    You can create monitoring reports like you used to do in excel. There are many additional functions like fetching created tickets from Jira or better incident management. Just check it out yourself.
                    </li>
                    <li role="presentation" class="divider"></li>
                    <li>
                        <span style="color: gold" class="glyphicon glyphicon-minus-sign"></span> Report browsing<br/>
                        You can browse yours and others reports, incidents, alerts, communications or actions. It can help when you'll have problem with some tickets. Thanks to ticket connections and other comments it will be much easier to find out a solution.
                    </li>
                </ul>
                <br/>
            </div>

            <div class="dropdown">
                <span style="color: red" class="glyphicon glyphicon-remove-sign"> </span> <a href="#" id="announcements" data-toggle="dropdown" aria-expanded="true">Announcements</a>
                <ul style="padding: 10px;" class="dropdown-menu" aria-labelledby="announcements">
                    <li>
                        This module will allow to create and read important announcements from other users. You will never miss important news during your night shifts again :)
                    </li>
                </ul>
                <br/>
            </div>

            <div class="dropdown">
                <span style="color: red" class="glyphicon glyphicon-remove-sign"> </span> <a href="#" id="deploy-schedules" data-toggle="dropdown" aria-expanded="true">Mailing</a>
                <ul style="padding: 10px;" class="dropdown-menu" aria-labelledby="deploy-schedules">
                    <li>
                        Sending all those deploy reminders, incident reports etc. is really uncomfortable task. When this module is finished you will be able to send any information to clients using only few clicks. You will be sure that you have the most recent templates and you will be able to create and edit them with ease.
                    </li>
                </ul>
                <br/>
            </div>

            <div class="dropdown">
                <span style="color: red" class="glyphicon glyphicon-remove-sign"> </span> <a href="#" id="monitoring-schedules" data-toggle="dropdown" aria-expanded="true">Monitoring Schedules</a>
                <ul style="padding: 10px;" class="dropdown-menu" aria-labelledby="monitoring-schedules">
                    <li>
                        Excel on SVN won't be needed anymore. Using Domingo you will be able to plan, request changes in schedules to other users and manager will be able to see every shift exchange. It will also have additional funcionality to plan holidays.
                    </li>
                </ul>
                <br/>
            </div>


            <div class="dropdown">
                <span style="color: red" class="glyphicon glyphicon-remove-sign"> </span> <a href="#" id="deploy-schedules" data-toggle="dropdown" aria-expanded="true">Deploy Schedules</a>
                <ul style="padding: 10px;" class="dropdown-menu" aria-labelledby="deploy-schedules">
                    <li>
                        Also google calendar won't be needed anymore. You will be able to see everything in one place and get reminders during your monitoring shift.
                    </li>
                </ul>
                <br/>
            </div>

            <div class="dropdown">
                <span style="color: yellowgreen" class="glyphicon glyphicon-thumbs-up"> </span> <a href="#" id="other-ideas" data-toggle="dropdown" aria-expanded="true">And others</a>
                <ul style="padding: 10px;" class="dropdown-menu" aria-labelledby="other-ideas">
                    <li>
                        We are opened for new ideas and feedback for existing ones. With your help we can make Domingo to be great and making our job much easier project.
                    </li>
                </ul>
                <br/>
            </div>



		</article>
	</div>
	<div class='content_img col-md-5'>
		<img src="{%  static "main/img/Fotolia_60596468.jpg" %}" alt='Comarch'>
	</div>
</div>