{% load staticfiles %}
<div class='log_content row'>
	<div class='content_info col-md-offset-2 col-md-4'>
		<article>
			<h2>Welcome to Domingo - Service Desk Helper</h2>
			<p>Domingo is a project created by Service Desk for Service Desk. Currently our job, especially monitoring, needs a lot of additional work in external applications. This project will make Service Desk work easier because only Domingo, Jira and E-mails will be necessary. </p>
		</article>
	</div>
	<div class='content_img col-md-5'>
		<img src="{%  static "main/img/Fotolia_60596468.jpg" %}" alt='Comarch'>
	</div>
</div>