{% load staticfiles %}
<nav class='navbar navbar-inverse row form-inline head_form'>
    {% if user.is_authenticated %}
        <div class="user_info">
            <a href="{% url 'reports:index' %}">
                <img src="{%  static "main/img/superman.jpg" %}" alt='User info' class='img-responsive img-rounded avatar'>
            </a>

            <span>
              <a href="javascript:void(0)"> {{ user.first_name }} </a>
            </span>

        </div>

        <div class='log_btn'>
            {% if user.is_staff %}
                <a href="{% url 'admin:index' %}">
                    <button class="btn button_style" type="submit"> <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Manage</button>
                </a>
            {% endif %}


        </div>
        <div class='log_btn'>
            <form class="form-inline" action="{% url 'main:do_logout' %}" method="post">
                {% csrf_token %}
                <button class="btn button_style button_style_logout" type="submit">Logout</button>
            </form>
        </div>
    {% else %}
        <div class='log_btn'>

            <form class="form-inline" action="{% url 'main:index' %}" method="post">
                {% csrf_token %}
                <input type="text" id="login-input-login" name="username" class="form-control" placeholder="Enter Login">
                <input type="password" id="login-input-password" name="password" class="form-control" placeholder="Enter Password">
                <button type="submit" class="btn button_style">Login</button>
            </form>
            <span class="error_color col-md-offset-2 col-md-8 col-md-offset-2">{{ error_message }} </span>
        </div>
    {% endif %}
</nav>