{% extends "main/_layout/base.html" %}

{% block sidemenu %}

    {% include "main/_layout/side_menu.html" with active="dashboard" %}

{% endblock %}

{% block content %}

    <div class="col-md-8 col-md-offset-4 report_base">
        <div class="last_rep row">
            <div class="col-md-6 col-md-offset-3">
               <h1>Dashboard</h1>
            </div>

        </div>
    <div class="col-md-6 col-md-offset-3" style="text-align: center; margin-top: 30px;">
        <span style="font-size: 30px;" class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        This page is not ready yet. You will be able to see your dashboard soon...
    </div>
    </div>

{% endblock %}