{% extends 'main/base.html' %}


{% block content %}
    <form>
        <a href="{% url 'main:close_report' %}" class='btn btn-danger' type='submit' style="margin-bottom: 20px">Close report</a>
    </form>


    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#alerts">Alerts</a></li>
        <li><a data-toggle="tab" href="#incidents">Incidents</a></li>
    </ul>

    <div class="tab-content">
        <!--  RAPORT alerts -->
        <section class="well tab-pane fade in active" id="alerts">
            <form class="filters form-inline well" action="{% url 'main:add_alert' %}" method="post">
                {% csrf_token %}
                <div class='filter_project'>
                    {{ form.alert_project.errors }}
                    {{ form.alert_project }}
                </div>
                <div class='filter_input'>
                    {{ form.alert_name.errors }}
                    {{ form.alert_name }}
                </div>
                <div class='filter_input'>
                    {{ form.alert_ticket.errors }}
                    {{ form.alert_ticket }}
                </div>
                <div class='filter_input'>
                    {{ form.alert_date.errors }}
                    {{ form.alert_date }}
                </div>
                <div class='filter_project'>
                    {{ form.alert_type.errors }}
                    {{ form.alert_type }}
                </div>
                <div class='filter_input'>
                    {{ form.alert_comment.errors }}
                    {{ form.alert_comment }}
                </div>
                {{ error_message }}
                <button class='btn btn-success navbar-right' type='submit'><i class="glyphicon glyphicon-circle-ok"></i>Add</button>
            </form>
            <table class='table table-bordered table-striped table-hover'>
                <thead>
                    <tr>
                        <th>Project</th>
                        <th>Sensor</th>
                        <th>Ticket</th>
                        <th>Data</th>
                        <th>Type</th>
                        <th>Comment</th>
                    </tr>
                </thead>
                <tbody>
                    {% for alert in alerts %}
                        <tr>
                            <td>{{ alert.alt_prj_id.prj_name }}</td>
                            <td>{{ alert.alt_name }}</td>
                            <td>{{ alert.alt_ticket }}</td>
                            <td>{{ alert.alt_date }}</td>
                            <td>{{ alert.alt_type }}</td>
                            <td>{{ alert.alt_com_id.com_value }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <section class="well tab-pane fade" id="incidents">
            INCYDENTY
        </section>
    </div>
{% endblock %}