{% extends 'main/base.html' %}

{% block content %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <div class="row" style="margin-top:40px;">

            <aside class='col-lg-3 col-md-3 col-sm-3'>

                <button type="button" class="btn btn-default btn-lg center-block" data-toggle="popover" data-trigger="focus" title="There's opened report!" data-content="Finish and close the report to make this option available.">Start Report</button>

                <br>

                <button type="button" class="btn btn-primary btn-lg center-block">Finish Report</button>

            </aside>

            <div class='col-lg-8 col-md-8 col-sm-8'>
                <div class="panel panel-success">
                    <div class="panel-heading">Current report</div>

                    <div class="panel-body">

                        <div class="col-sm-6">
                            <b> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Serviceman: </b> mantkowicz <br>
                            <b> <span class="glyphicon glyphicon-time" aria-hidden="true"></span> Start: </b> 13:55 <br>
                            <b> <span class="glyphicon glyphicon-time" aria-hidden="true"></span> Stop: </b> 13:55
                        </div>

                        <div class="col-sm-6">
                            <b> <span class="glyphicon glyphicon-th" aria-hidden="true"></span> Ticket count: </b> 10 <br>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="row" style="margin-top:40px;">

            <div class='raports_field col-lg-10 col-md-10 col-sm-10 col-sm-offset-1'>

                    <ul class="nav nav-tabs nav-justified">
                        <li role="presentation" class="active" >
                            <a href="#report-creation-alerts" aria-controls="report-creation-alerts" role="tab" data-toggle="tab">Alerts</a>
                        </li>
                        <li role="presentation">
                            <a href="#report-creation-incidents" aria-controls="report-creation-incidents" role="tab" data-toggle="tab">Incidents</a>
                        </li>
                        <li role="presentation">
                            <a href="#report-creation-phone-calls" aria-controls="report-creation-phone-calls" role="tab" data-toggle="tab">Phone Calls</a>
                        </li>
                        <li role="presentation">
                            <a href="#report-creation-phone-calls" aria-controls="report-creation-phone-calls" role="tab" data-toggle="tab" style="color:green;"> <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Current report cart </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="report-creation-alerts">
<!--
                            <div class="row">
                                <br>
                                <div class="col-md-9 col-md-offset-1">
                                    {% include "main/forms/report_creation/alert_form.html" %}
                                </div>
                            </div>
-->
                            <div class="row" id="alerts">
                                <br>
                                <div class="col-md-9 col-md-offset-1">
                                    {% include "main/presentation/report_creation/alert_table.html" %}
                                </div>
                            </div>

                        </div>

                        <div role="tabpanel" class="tab-pane" id="report-creation-incidents">

                            <div class="row">
                                <br>
                                <div class="col-md-9 col-md-offset-1">
                                    {% include "main/forms/report_creation/alert_form.html" %}
                                </div>
                            </div>

                            <div class="row" id="alerts">
                                <br>
                                <div class="col-md-9 col-md-offset-1">
                                    {% include "main/presentation/report_creation/alert_table.html" %}
                                </div>
                            </div>

                        </div>

                        <div role="tabpanel" class="tab-pane" id="report-creation-phone-calls">

                            <div class="row">
                                <br>
                                <div class="col-md-9 col-md-offset-1">
                                    {% include "main/forms/report_creation/alert_form.html" %}
                                </div>
                            </div>

                            <div class="row" id="alerts">
                                <br>
                                <div class="col-md-9 col-md-offset-1">
                                    {% include "main/presentation/report_creation/alert_table.html" %}
                                </div>
                            </div>

                        </div>
                    </div>

            </div>
        </div>

<!--
    <div class="container">



    </div>
    -->

{% endblock %}