{% extends 'main/main.html' %}

{% block content %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <script>
     $(document).ready(function() {
         $('#add-alert-form').submit(function (e) {
             e.preventDefault();
                 $.ajax({
                     type: "POST",
                     url: "{% url 'main:add_alert' %}",
                     data: $(this).serialize(),

                     success: function (data) {
                         $("#alerts").load(" #alerts");
                     }
                 });
         });
     });

     //https://github.com/Eonasdan/bootstrap-datetimepicker
     $(function () {
         $('#report-creation-alert-time').datetimepicker({
             format: 'YYYY-MM-DD HH:mm:ss',
             toolbarPlacement: 'top',
             showTodayButton: true,
             showClear: true
         });
     });
    </script>


    <div class="container">

        <ul class="nav nav-tabs">
            <li role="presentation" class="active" >
                <a href="#report-creation-alerts" aria-controls="report-creation-alerts" role="tab" data-toggle="tab">Alerts</a>
            </li>
            <li role="presentation">
                <a href="#report-creation-incidents" aria-controls="report-creation-incidents" role="tab" data-toggle="tab">Incidents</a>
            </li>
            <li role="presentation">
                <a href="#report-creation-phone-calls" aria-controls="report-creation-phone-calls" role="tab" data-toggle="tab">Phone Calls</a>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="report-creation-alerts">

                <div class="row">
                    <br>
                    <div class="col-md-9 col-md-offset-1">
                        <form id="add-alert-form" action="" method="post">
                        {% csrf_token %}
                            <div class="form-group">
                                <label>Type</label>
                                <select class="form-control" name="type">
                                    <option>B</option>
                                    <option>C</option>
                                    <option>M</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Project</label>
                                <select class="form-control" name="project">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Ticket</label>
                                <input type="text" class="form-control" name="ticket">
                            </div>

                            <div class="form-group">
                                    <label>Time</label>

                                    <div class='input-group date' id='report-creation-alert-time'>
                                        <input type='text' class="form-control" name="time" />
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                            </div>

                            <button type="submit" class="btn btn-success btn-lg center-block">Add alert</button>
                        </form>
                    </div>
                </div>

                <div class="row" id="alerts">
                    <br>
                    <div class="col-md-9 col-md-offset-1">
                        <div class="panel panel-default">
                            <div class="panel-heading">Added alerts</div>

                            <table class="table">
                                <thead>
                                    <th> Type </th>
                                    <th> Project </th>
                                    <th> Ticket </th>
                                    <th> Time </th>
                                    <th> Delete </th>
                                </thead>
                                <tbody>
                                    {% for alert in duty.dut_rep.alert_set.all %}
                                        <tr>
                                            <td>{{  alert.alt_type }}</td>
                                            <td>{{  alert.alt_prj_id }}</td>
                                            <td>{{  alert.alt_ticket }}</td>
                                            <td>{{  alert.alt_start_date|date:"Y-m-d H:h:s" }}</td>
                                            <td> <button class="btn btn-danger btn-sm">X</button> </td>
                                        </tr>
                                    {%  endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <div role="tabpanel" class="tab-pane" id="report-creation-incidents">
                INCYDENTY
            </div>

            <div role="tabpanel" class="tab-pane" id="report-creation-phone-calls">
                FOŁN KOLE
            </div>
        </div>

    </div>
{% endblock %}