{#<div class="form-group">#}
{#    <label> {{ label }} </label>#}
{#    <select class="form-control" name="{{ name }}" value="{{ value }}">#}
{#        {% for v in values %}#}
{#            <option value="{{ v.0 }}" {{ v.2 }}> {{ v.1 }} </option>#}
{#        {% endfor %}#}
{#    </select>#}
{#</div>#}

<div class="form-group">
    <label> {{ label }} </label>
    <select class="form-control" name="{{ name }}" value="{{ value }}">

        {% if empty_on_initial %}

            <option value="">-- all --</option>

        {% endif %}

        {% for v in values %}
            {% if v.0|add:0 == "" or value|add:0 == "" %}
                <option value="{{ v.0 }}" {% if v.0 == value %} selected="selected" {% endif %}> {{ v.1 }} </option>
            {% else %}
                <option value="{{ v.0 }}" {% if v.0|add:0 == value|add:0 %} selected="selected" {% endif %}> {{ v.1 }} </option>
            {% endif %}
        {% endfor %}

    </select>
</div>