html{
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	margin-left:  auto;
	margin-right: auto;
}

.navbar{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

header nav, body{
	padding-right: 15px;
	padding-left: 15px;
}
.user_info, .user_info a{
	display: inline-block;
}
.user_info a{
	margin-top: 5px;
}
.user_info span{
	font-size: 24px;
	color: #fafafa;
	margin-left: 20px;

}
.user_info .avatar{
	max-width: 64px;
	max-height: 80px;
}

.log_btn{
	display: block;
	float: right;
	margin-right: 10px;
	margin-top: 8px;
}
.begin_work, .raports_field{
	padding-right: 50px;
}
.form-inline{
	padding-bottom: 10px;
	background-color: #333; 
}
.form-inline .form-control{
	background: none repeat scroll 0% 0% transparent;
	color: #f3f3f3;
	border-style: solid none none;
	border-color: #f3f3f3 -moz-use-text-color -moz-use-text-color;
	border-radius:0;
	margin-right: 10px;
}
.form-inline .form-control:focus{
	box-shadow: none;
}
.button_style{
	background: none repeat scroll 0% 0% transparent;
	border: 2px solid #aaa;
	transition: all 0.5s ease 0s;
	outline: medium none;
	border-radius: 7px;
}
.button_style:hover{
	background: none repeat scroll 0% 0% #7B6C63;
	border: 2px solid #7B6C63;
	color: #FFF;
	cursor: pointer;
}



.log_content{
	height: 400px;
	background: none repeat scroll 0% 0% #F5F5F5;
}


/* ====================   raport.html ===================   */
html{
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	margin-left:  auto;
	margin-right: auto;
}

header nav, body{
	padding-right: 15px;
	padding-left: 15px;
}
.user_info, .user_info a{
	display: inline-block;
}
.user_info a{
	margin-top: 5px;
}
.user_info span{
	font-size: 24px;
	color: #fafafa;
	margin-left: 20px;

}
.user_info .avatar{
	max-width: 64px;
	max-height: 80px;
}

.log_btn{
	display: block;
	float: right;
	margin-right: 10px;
	margin-top: 20px;
}
.begin_work, .raports_field{
	padding-right: 50px;
}
.menu_act span{
	cursor: pointer;
}
#menu_list1{
	display: none;
}
#menu_list1 li{
	list-style-type: none;
}
#menu_list1 li a{
	color: #fff;
	text-decoration: none;
}



/* ====================   raport.html ===================   */
.raports_field section h2, .raports .panel-heading h1{
	text-align: center;
}
.raports .panel-heading h1{
	color: green;
}

.filters{
	display: block;
}
.filters .filter_project, .filters .filter_input{
	display: inline-block;
}
.filters button.navbar-right{
	margin-right: 5px;
}


/* ================ dialog window ======================
.modal-dialog{
	width: 1224px;
}   */
.date_text{
	display: block;
}
.form-horizontal .date_text label{
	text-align: left;
}
.edit_btn{
	float: right;
	margin-right: 15px;
}

.form-group .filter_project{
	margin-left: 15px;
}
/*
.show_form{
	display: none;
}  */